@{
    ViewBag.Title = "AriticleRankList";
}
<link href="@Url.Content("~/Content/css/Login.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/css/KnowledgeView.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/css/rankList.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/AriticleRankList/rankList.js")" type="text/javascript"></script>
<p style="margin:0 auto;width:600px;height:50px;font-size:20px;text-align:center;padding-top:30px;letter-spacing:15px;">排行榜</p>  
<div id="tabs">  
        <ul class="tabs_header">  
            <li><a href="###">用户本月发表知识</a></li>  
            <li><a href="###">分组本月发表知识</a></li>  
            <li><a href="###">知识分类下的知识数量</a></li>  
        </ul>  
        <div class="tabs_content">  
           <table cellspacing="0">
           </table>
        </div>  
        <div class="tabs_content">  
            <p>  
                这是选项卡二的内容？
            </p>  
        </div>  
        <div class="tabs_content">  
            <p>  
                这是选项卡三的内容？
            </p>  
        </div>  
    </div>  