@{
    ViewBag.Title = "Jinan";
}
<link href="@Url.Content("~/Content/css/jnTeamWork.css")" rel="stylesheet" type="text/css" />

<script src="@Url.Content("~/Scripts/TeamWork/jinan.js")" type="text/javascript"></script>

<div class="pageMain">
        <div class="pageLeft">
            <div class="pageLeft_content" id="PageLeft">
                @*<div class="wordHead">文档</div>
                <div class="XmwordTitle"  >水库四季度</div>
                <div class="XmwordTitle"  >水库四季度</div>
                <div class="XmwordTitle"  >水库四季度</div>*@
            </div>
            <div class="pageLeft_slidediv">@*<div class="leftpage_slide"></div>*@</div>
        </div>
        <div class="pageRight" id="PageRight">
           @* <div class="xmRow">
                 <div class="xm_right_Title">系统名称</div>
                 <div class="xm_right_txt">济南地质灾害预警项目项目</div>
            </div>
            <div class="xmRow">
                 <div class="xm_right_Title">系统地址</div>
                 <div class="xm_right_txt">http://192.168.83.236/JiNan/Home/Index</div>
            </div>
            <div class="xmRow">
                 <div class="xm_right_Title">项目成员</div>
                 <div class="xm_right_txt">
                     <div class="xm_menbox">
                         <div class="xm_men_name">李米娜:</div>
                         <div class="xm_men_zhiwei">项目经理</div>
                     </div>
                     <div class="xm_menbox">
                         <div class="xm_men_name">李米娜:</div>
                         <div class="xm_men_zhiwei">项目经理</div>
                     </div>
                     <div class="xm_menbox">
                         <div class="xm_men_name">李米娜:</div>
                         <div class="xm_men_zhiwei">项目经理</div>
                     </div>
                     <div class="xm_menbox">
                         <div class="xm_men_name">李米娜:</div>
                         <div class="xm_men_zhiwei">项目经理</div>
                     </div>
                     <div class="xm_menbox">
                         <div class="xm_men_name">李米娜:</div>
                         <div class="xm_men_zhiwei">项目经理</div>
                     </div>
                     <div class="xm_menbox">
                         <div class="xm_men_name">李米娜:</div>
                         <div class="xm_men_zhiwei">项目经理</div>
                     </div>
                 </div>
            </div>*@

             @*<div class="xmRow">
                 <div class="xm_right_Title">项目视频</div>
                 <div class="xm_right_txt">
                     <div class="videobox">
                       <video width="560" height="340" controls>
                              <source src="../../Content/video/速度与激情4A.mp4" type='video/mp4;  codecs="avc1.42E01E, mp4a.40.2"'> 
                         </video>
                         <video width="980" height="540" controls>
                        <source src="../../Content/video/速度与激情4A.mp4" type="video/mp4" codecs="avc1.42E01E, mp4a.40.2"' />
                        <embed src="../../Content/video/速度与激情4A.mp4" type="application/x-shockwave-flash" width="980" height="570" allowscriptaccess="always" allowfullscreen="true" autoplay="false"></embed>  <!--IE 8 - add 25-30 pixels to vid height to allow QT player controls-->    
                    </video>
                          
                     </div>
                 </div>
            </div>*@

           

        </div>
        <!--HomeLeft结束-->
</div>
