@{
    ViewBag.Title = "Design";
}
<link href="@Url.Content("~/Content/RRWM/css/Design.css")" rel="stylesheet" type="text/css" />

<script src="@Url.Content("~/Scripts/RRWM/Design/ProjectContent.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/RRWM/Design/DesignHome.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/RRWM/Design/ShowPicture.js")" type="text/javascript"></script>

<div id="DesignHome">
    <div id="HomeContent">
      
        <div id="HomeLeft">
            <div id="HomeLeft_content"></div>
            <div class="HomeLeft_white"></div>
        </div>
            <div id="HomeRight"></div>
        <!--HomeLeft结束-->
    </div>
    <!--HomeContent结束-->
</div>