body {
    -webkit-text-size-adjust:none;
}
#Login
{
    width:100%;
    position:fixed;
    top:0;
    bottom:0;
    background:rgba(0,0,0,0.4);
    z-index:4000;    
}
#Login_div
{
    width:100%;
    height:190px;
    position:absolute;
    background:#fff;
    top:50%;
    margin-top:-95px;
}
#Login_content
{
    width:590px;
    height:160px;
    position:absolute;
    left:50%;
    margin-left:-240px;
    margin-top:15px;
    overflow:hidden;
}
.Login_icon,.Login_Register
{
    width:80px;
    height:118px;
    float:left;
    background:url(../../Content/img/login.png) no-repeat;
    opacity:0.7;
    margin-top:15px;
    position:absolute;
    cursor:pointer;
}
.Login_icon
{
    left:90px;
}
.Login_Register
{
    background-position:-80px 0;
    left:320px;
}
.Login_icon:hover,.Login_Register:hover
{
    opacity:1 !important;
}
.Login_Line
{
    width:2px;
    height:70px;
    background:#ccc;
    position:absolute;
    top:21px;
    left:240px;
}
.Login_eare
{
    width:250px;
    height:auto;
    margin-top:10px;
    position:absolute;
    left:600px;
}
.Login_input
{
    width:auto;
    height:24px;
    margin:10px 0 15px;
    font-size:12px;
    color:#333;
    line-height:24px;
    float:left;
}
.Login_name_div,.Login_password_div
{
    width:220px;
    height:24px;
    background:#c7dbde;
    float:left;
}
.Login_name_div span,.Login_password_div span
{
    padding-left:5px;
    color:#333;
    position:absolute;
}
.Login_name,.Login_password
{
    width:210px;
    height:24px;
    position:absolute;
    padding:0 5px;
    border:none;
    outline:none;
    color:#333;
    background:rgba(0,0,0,0);
}
.Log_Reg
{
    width:auto;
    height:30px;
    padding-right:28px;
}
.Login_Log
{
    width:auto;
    height:30px;
    line-height:30px;
    text-align:right;
    cursor:pointer;
    color:#017586;
    font-size:15px;
    float:right;
}
.Login_close
{
    width:25px;
    height:25px;
    font-size:25px;
    color:#000;
    cursor:pointer;
    float:right;
    font-weight:bold;
    margin-top:0px;
}
.Login_Log:hover,.Login_close:hover
{
    color:#ff6400;
}
.Login_error
{
    height:30px;
    line-height:30px;
    width:auto;
    float:left;
    color:#ff6400;
    font-size:11px;
}